<form>

	<div class="form-group">
		<label for="assunto">Assunto:</label>
		<select id="assunto" class="form-control">
			<option>Selecione...</option>
			<option>Calculo</option>
			<option>Programacao</option>
			<option>Matematica basica</option>
			<option>Logica</option>
		</select>
	</div>

	<div class="form-group">
		<label for="pergunta">O que vc precisa aprender?</label>
		<textarea class="form-control" rows="5"></textarea>
	</div>

	<div class="form-group">
		<label for="recompensa">Ofereca uma recompensa:</label>
		<select id="assunto" class="form-control">
			<option>Selecione...</option>
			<option>Uma caixa de cerveja</option>
			<option>Um lanche e uma coca</option>
			<option>15 reais</option>
		</select>
	</div>
	
	 <button type="submit" class="btn btn-primary btn-large btn-block">Cadastrar</button>
</form>

<div class="row" style="margin-top: 30px;">
	<div class="col-xs-12">
		<p>
			<a href="#/">Ajude um amigo!</a>
		</p>
	</div>
</div>