<form>
	<h2>Carina Oliveira</h2>
	
	<p>Entre em contato e combine um horario</p>
	
	<div class="form-group">
		<label >E-mail</label>
		<p class="form-control-static">email@example.com</p>
	</div>
	<div class="form-group">
		<label >WhatsApp</label>
		 <p class="form-control-static">(48) 9172-1216</p>
	</div>
	
	<a href="http://facebook.com/carina" class="btn btn-primary btn-block" target="_blank">
		Ver Facebook
	</a>

</form>
<div class="row" style="margin-top: 30px;">
	<div class="col-xs-12">
		<p>
			<a href="#/">Voltar</a>
		</p>
	</div>
</div>