<form>
	<div class="form-group">
		<label for="assunto">Assunto:</label>
		<select id="assunto" class="form-control">
			<option>Selecione...</option>
			<option selected="selected">Calculo</option>
			<option>Programacao</option>
			<option>Matematica basica</option>
			<option>Logica</option>
		</select>
	</div>

	<div class="row">
	  <div class="col-xs-12">
	    <div class="thumbnail">
	      <div class="caption">
	        <h2>Tenho duvida em...</h2>
	        <blockquote>
	        	<p class="lead">vou ter prova sobre equacoes diferencias... alguem pode me ajudar?<br/><br/></p>
	        </blockquote>
        	<p>Recompensa: <abbr title="attribute">Caixa de cerveja</abbr></p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class=row>
		<div class=col-xs-6>
	 		<a class="btn btn-danger btn-large btn-block" href="#/pergunta3">Nao</a>
		</div>
		<div class=col-xs-6>
			<a class="btn btn-success btn-large btn-block" href="#/contato">Sim</a>
		</div>
	</div>
</form>
<div class="row" style="margin-top: 30px;">
	<div class="col-xs-12">
		<p>
			<a href="#/cadastro">E vc? qual sua duvida?</a>
		</p>
	</div>
</div>